
body{
    background-color: rgb(156, 184, 191);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.game-container{
     background-color: rgb(156, 184, 191);
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
h1{
    /* text-align: center; */
    text-decoration: underline;
}
#newgame{
    /* display: inline-block;
    margin-top: 10px;
    margin-left: 50%; */
    height: 50px;
    background-color: green;
    font-weight: 600;
    border-radius: 10px;
    color: black;
}
#resetbtn{
    /* margin-left: 50%;
    margin-top: 30px; */
    height: 50px;
    width: 60px;
    border-radius: 10px;
    background-color: aquamarine;
    font-weight: 600;
}
#win{
    display: none;
}
.container{
    /* margin-top: 100px;
    margin-left: 43%; */
    height: 315px;
    width: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    align-content: center;
    border: 2px solid rgb(17, 179, 201);
    box-shadow: 2px 2px 10px 5px white;
    background-color: rgb(17, 179, 201);
    border-radius: 10px;
}
.box{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 50px;
    
    background-color: rgba(195, 195, 28, 0.819);
    color: black;
    border: 1px solid black;
}
p{
    /* display: none; */
    font-weight: 900;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.player{
    background-color: #f7fff6;
    border-radius: 20px;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-weight: 500;

}

@media (max-width:770px) {
    .game-container{
        justify-content: flex-start;
        height: 50vh;
        width: 100vw;
    }
    body{
        align-items: flex-start;
        
    }
    .win-count{
        position: fixed;
        bottom: 100px;
    }
}
@media (max-width:360px){
    .box{
        height: 80px;
        width: 80px;
    }
    .container{
        height: 255px;
        width: 255px;
    }
    h1{
        font-size: 25px;
    }
}